<a
	href="www.baidu.com" 
	class="tooltipped" target="_blank" 
	data-tooltip="抱歉，目前并不想公开我的github" 
	data-position="top" data-delay="50" >
	 <i class="fa fa-github"></i> 
</a>

<a
	href="mailto:2232123545@qq.com" 
	class="tooltipped" target="_blank" 
	data-tooltip="邮件联系我" 
	data-position="top" data-delay="50" >
	 <i class="fas fa-envelope-open"></i> 
</a>



